
<div class="signupPage">
  <div class="questionaire">
    <p class="lineOne">Student Questionaire</p>
  </div>
  
 
  <div class="signupPrompt">
    <div class="nameDiv">
      <input class="name" type="text" placeholder="Full Name">
    </div>
    <div class="emailDiv">
      <input class="email" type="text" placeholder="Email">
    </div>
    <div class="idDiv">
      <input class="id" type="text" placeholder="Github ID:">
    </div>
    <div class="passwordDiv">
      <input class="password" type="text" placeholder="Password">
    </div>
    
  </div>
 </div>