<div class="content">
    <div class="backButton">
        <app-back-button></app-back-button>
    </div>
    <div class="heading"><p>Users awaiting Approval</p></div>
    <div class="adminTitle"><p>New Admins</p></div>
    <div class="newUsers">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Select</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let admin of admins">
                    <td>{{ admin.name }}</td>
                    <td>{{ admin.email }}</td>
                    <td>
                        <input type="checkbox" [(ngModel)]="admin.selected" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="studentTitle"><p>New Students</p></div>
    <div class="newUsers">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>GitHub</th>
                    <th>Select</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of student">
                    <td>{{ student.name }}</td>
                    <td>{{ student.email }}</td>
                    <td>{{ student.githubId }}</td>
                    <td>
                        <input type="checkbox" [(ngModel)]="student.selected" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>    
    <div class="button-container">
        <button class="approve" (click)="approve()">Approve</button>
        <button class="reject" (click)="reject()">Reject</button>
    </div>
</div>
