<div class="content">
    <div class="backButton">
        <app-back-button></app-back-button>
    </div>
    <!-- Display Admins -->
    <h2>Admins</h2>
    <ul>
        <li *ngFor="let admin of admins">
            {{ admin.name }} - {{ admin.email }}
        </li>
    </ul>

    <!-- Display Students -->
    <h2>Students</h2>
    <ul>
        <li *ngFor="let student of student">
            {{ student.name }} - {{ student.email }}
        </li>
    </ul>

    <button (click)="approve()">Approve</button>
</div>

