<div class="content">
    <div class="backButton">
        <app-back-button></app-back-button>
    </div>

    <h3>New Students</h3>

    <h2>Admins</h2>
    <ul>
        <li *ngFor="let admin of admins">
            <input type="checkbox" [(ngModel)]="admin.selected" /> {{ admin.name }} - {{ admin.email }}
        </li>
    </ul>

    <h2>Students</h2>
    <ul>
        <li *ngFor="let student of student">
            <input type="checkbox" [(ngModel)]="student.selected" /> {{ student.name }} - {{ student.email }} - {{ student.github }}
        </li>
    </ul>

    <div class="button-container">
        <button class="approve" (click)="approve()">Approve</button>
        <button class="reject" (click)="reject()">Reject</button>
    </div>
</div>
