.content {
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;

    .backButton {
        margin-bottom: 10px;
    }

    .heading {
        p {
            font-size: xx-large;
            font-weight: bold;
            text-align: center;
        }
    }

    .adminTitle {
        p{
            font-size: x-large;
            text-align: center;
        }
    }

    .studentTitle {
        margin-top: 3em;
        p{
            font-size: x-large;
            text-align: center;
        }
    }

    .newUsers {

    }
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    th {
        background-color: #f2f2f2;
    }

    .button-container {
        display: flex;
        justify-content: space-between;  // Ensures buttons are spaced evenly
        margin-top: 2.5em;
    }

    button {
        font-size: large;
        padding: .5em;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .approve {
        background-color: #4caf50;
        color: white;
    }

    .reject {
        background-color: #ff4d4d;  // Red color
        color: white;
    }
}
