<div class="mainContainer">
    <div class="buttons">
        <div class="left">
          <button (click)="myProfile()" class="profileButton"><img src="../../../assets/profile-icon.jpeg" alt="" ></button>
        </div>
        <div class="right">
          <div class="notify"><button (click)="showNotifications()" [ngClass]="{'pendingProjects': (pendingProjects), 'notifyButton': true}"><img src="../../../assets/notify.png" alt="" ></button></div>
          <div class="logO"><app-custom-button buttonName="Log Out" (click)="logOut()"></app-custom-button></div>
        </div>
    </div>
    <div class="mainContent">
        <div class="mainPage">
            <div class="topImage">
              <img src="../../../assets/uncg_spartan_logo.png" alt="UNCG logo"/>
            </div>
            <div class="searchDiv">
              <form class="formDiv" (submit)="searchStudent()">
                <input class="search" type="text" placeholder="Search the G..." [(ngModel)]="studentName" name="studentName">
                <button type="submit" class="submitButton"><img src="../../../assets/search-icon.png" alt="" ></button>
              </form>
            </div>
          
            <div class="section">
              <div class="information">
                <p class="lineOne">An app for</p>
                <p class="lineTwo">UNC Greensboro</p>
                <p class="lineThree">Department of Computer Science</p>
              </div>
              <div class="bottomImage">
                <img src="../../../assets/uncg.jpeg" alt="Image"/>
              </div>
            </div>  
          </div>
    </div>       
</div>
