<div class="profile">
    <div class="buttons">
        <div class="backButton"><app-back-button></app-back-button></div>
        <div *ngIf="loggedIn != 'Admin'"class="collaborateButton"><app-custom-button (click)="collaborate()" buttonName="Collaborate"></app-custom-button></div>
    </div>
    <div class="profileContent">
        <div class="name"><p *ngIf="studentData.name">{{ studentData.name }}</p></div>
        <div class="rating">
            <div class="rate">
                <p class="numericalRating" *ngIf="studentData.rating">{{ studentData.rating | number:'1.1-1' }}/5</p>
                <p class="basedRating" *ngIf="studentData.total_ratings">Based on {{ studentData.total_ratings }} ratings</p>
                <p class="basedRating" *ngIf="!studentData.rating && !studentData.total_ratings">No ratings</p>
            </div>
            <div class="collab">
                <p class="collabPercentage" *ngIf="studentData.total_collaborators && studentData.yes_collaborators">{{ (studentData.yes_collaborators/studentData.total_collaborators)*100 | number:'1.0-0' }}%</p>
                <p class="collabText" *ngIf="studentData.total_collaborators">would collaborate again</p>
                <p class="collabText" *ngIf="!studentData.total_collaborators && !studentData.yes_collaborators">No collaborations</p>
            </div>
        </div>
        <app-custom-button *ngIf="loggedIn != 'Admin'" class="rateButton" (click)="rateStudent()" buttonName="Rate"></app-custom-button>
        <app-custom-button *ngIf="loggedIn == 'Admin'" class="deleteButton" (click)="deleteStudent()" buttonName="Delete"></app-custom-button>
        <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
    </div>
    <div *ngIf="githubUserData" class="githubContent">
        <div class="githubInfo">
            <div class="githubRepos"><p class="totalRepos">Public repositories: <span>{{ githubUserData.public_repos }}</span></p></div>
            <div class="githubLink"><app-custom-button class="githubButton" (click)="routeToGithub()" buttonName="GitHub"></app-custom-button></div>
        </div>
        <div class="repos">
            <div *ngFor="let repo of githubRepositorys">
                <app-project [repositoryName]="repo.name" [createdOn]="repo.created_at" [updatedOn]="repo.updated_at" [githubId]="githubId"></app-project>
            </div>
        </div>
    </div>
    <div *ngIf="!githubUserData" class="contentUnavailable">
        <p>No GitHub account</p>
    </div>
</div>