<div class="profile">
    <div class="buttons">
        <app-back-button></app-back-button>
        <app-custom-button (click)="collaborate()" buttonName="Collaborate"></app-custom-button>
    </div>
    <div class="profileContent">
        <div class="name"><p *ngIf="studentData.name">{{ studentData.name }}</p></div>
        <div class="rating">
            <div class="rate">
                <p class="numericalRating" *ngIf="studentData.rating">{{ studentData.rating | number:'1.1-1' }}/5</p>
                <p class="basedRating" *ngIf="studentData.total_ratings">Based on {{ studentData.total_ratings }} ratings</p>
            </div>
            <div class="collab">
                <p class="collabPercentage" *ngIf="studentData.total_collaborators && studentData.yes_collaborators">{{ (studentData.yes_collaborators/studentData.total_collaborators)*100 }}%</p>
                <p class="collabText" *ngIf="studentData.total_collaborators">would collaborate again</p>
            </div>
        </div>
        <app-custom-button class="rateButton" (click)="rateStudent()" buttonName="Rate"></app-custom-button>
        <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
    </div>
    <div *ngIf="githubUserData" class="githubContent">
        <div class="githubInfo">
            <p class="totalRepos">Public repos: {{ githubUserData.public_repos }}</p>
            <app-custom-button class="githubButton" (click)="routeToGithub()" buttonName="GitHub"></app-custom-button>
        </div>
        <div class="repos">
            <div *ngFor="let repo of githubRepositorys">
                <app-project [repositoryName]="repo.name" [githubId]="githubId"></app-project>
            </div>
        </div>
    </div>
    <div *ngIf="!githubUserData" class="githubContent">
        <p>No GitHub account</p>
    </div>
</div>