.box {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    .left {
        width: 25%;
        padding: 0;
        margin: 0;
        border-right: 1px solid black;

        .rating {
            height: 100%;
            display: flex;
            p{ 
                border: none;
                font-size: xx-large;
                font-weight: bold;
                width: fit-content;
                margin: auto;
                height: fit-content;
            }
        }
    }
    .right {
        width: 75%;
        display: flex;
        flex-direction: column;
        padding-bottom: .5em;
        p {
            text-align: center;
        }
        .name {
            display: flex;
            width: fit-content;
            height: fit-content;
            padding: 0;
            margin: auto;
            margin-bottom: 1em;
            p {
                font-weight: bold;
                font-size: xx-large;
                padding: 0;
                margin: 0;
            }
        }
        .innerRight {
            display: flex;
            flex-direction: row;
            .innerRightLeft {
                width: 50%;
                border-right: 1px solid black;
                .numericalRating {
                    font-size: large;
                    font-weight: bold;
                    margin: 0;
                    margin-bottom: .5px;
                }
                .basedRating {
                    font-size: medium;
                    margin: 0;
                }
            }
            .innerRightRight {
                width: 50%;
                margin-left: 1em;
                .collabPercentage {
                    font-size: large;
                    font-weight: bold;
                    margin: 0;
                    margin-bottom: 1px;
                }
                .collabText {
                    font-size: medium;
                    margin: 0;
                }
            }
        }
    }
}
.ratingGreen {
    box-shadow: 0 0 5px 8px rgba(124, 252, 0, 0.2);
}  
.ratingYellow{
    box-shadow: 0 0 5px 8px rgba(255, 255, 0, 0.2);
}  
.ratingRed {
    box-shadow: 0 0 5px 8px rgba(238, 75, 43, 0.2);
}
.noRating {
    box-shadow: 0 0 5px 8px rgba(0, 0, 0, 0.05);
}
