.content {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
    margin: auto;

    h2 {
        display: flex;
        margin: auto;
        border-bottom: 1px solid black;
        width: fit-content;
    }

    .addProject {
        margin-bottom: 5em;
        margin-top: 1.5em;
        .questionaire {
            margin-top: 4em;
            height: 30%;
            p {
              text-align: center;
              font-size: x-large;
            }
            form {
              display: flex;
              flex-direction: column;
              width: 50%;
              margin: auto;
              input {
                font-size: medium;
                margin-bottom: .5em;
              }
              app-custom-button{
                margin-top: 1.5em;
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
          }
    }
    .pendingProjects, .doneProjects{
      margin-bottom: 5em;

        h2{
            margin-bottom: 1.5em;
        }

        .project{
            width: 82%;
            margin: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            p {
                font-size: large;
                font-style: italic;
                display: inline-block;
            }
            .checkBox{
                
            }
        }
    }
}