<div class="content">
    <app-back-button></app-back-button>
    <div class="addProject">
        <h2>Start a New Collaboration</h2>
        <div class="questionaire">
            <p>New Project Information</p>
            <form (ngSubmit)="onSubmit()" #userForm="ngForm" class="project">
              <input class="projectName" type="text" placeholder="Project Name" [(ngModel)]="projectName" name="projectName" required>
              <input class="projectMessage" type="text" placeholder="Optional message" [(ngModel)]="projectMessage" name="projectMessage" required>
              <app-custom-button type="submit" buttonName="Send Invite"></app-custom-button>
            </form>
          </div>
    </div>
    <div class="pendingProjects">
        <h2>Pending Collaborations</h2>
        <ul>
            <li *ngFor="let project of pendingProjects">
              <div class="project">
                <p class="projectName">Project Name: {{ project.projectName }}</p>
              </div>
            </li>
          </ul>
    </div>
    <div class="doneProjects">
        <h2>Previous Collaborations</h2>
        <ul>
          <li *ngFor="let project of completedProjects">
            <div class="project">
              <p class="projectName">Project Name: {{ project.projectName }}</p>
            </div>
          </li>
        </ul>
    </div>
</div>
