<div class="content">
  <div class="backButton"><app-back-button></app-back-button></div>
  <div class="pendingProjects">
    <h1>New Collaborations</h1>
    <div class="projects" *ngFor="let project of pendingProjects">
      <div class="project">
        <button (click)="goProfile(project.creatorId)"><img src="../../../assets/profile-icon.jpeg" alt="" ></button>
        <p>Project Name: {{ project.projectName }}</p>
        <div class="checkBoxes">
          <label><input class="acceptCollaboration" type="checkbox" (change)="onAcceptCollaboration(project.projectId, project.collaborator, project.projectName)">Accept</label>
          <label><input class="rejectCollaboration" type="checkbox" (change)="onRejectCollaboration(project.projectId, project.collaborator, project.projectName)">Reject</label>
        </div>
      </div>
    </div>
  </div>
</div>
