
<app-custom-button buttonName="Sign Up"></app-custom-button>
<app-custom-button buttonName="Log In"></app-custom-button>

 

<div class="mainContainer">
    <div class="buttons">
        <div class="signUp">
            <app-custom-button class="signUpButton" buttonName="Sign Up"></app-custom-button>
        </div>
        <div class="logIn">
            <app-custom-button class="logInButton" buttonName="Log In"></app-custom-button>
        </div>
    </div>
    <div class="mainContent">
        <app-main-page></app-main-page>
    </div>
</div>
 <app-login-page></app-login-page>

<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->

<router-outlet></router-outlet>
