.container {
    width: 57%;
    margin: auto;
    margin-top: 5em;
    padding-bottom: 7em;

    h3 {
        text-align: center;
        font-size: x-large;
    }

    .content {
        width: 57%;
        margin: auto;
        margin-top: 5em;
    }
    
    .noStudentData {
        p {
            margin-top: 5em;
            font-size: x-large;
            text-align: center;
        }
    }
}