.content {
    width: 57%;
    margin: auto;
    margin-top: 5em;
    h3 {
        text-align: center;
        font-size: x-large;
    }
    .noStudentData {
        p {
            margin-top: 5em;
            font-size: x-large;
            text-align: center;
        }
    }
}